################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TorcTest/CopilotIndices/17.14.698.11175
/.vs/TorcTest/FileContentIndex
/.vs
/api/BookLibraryApi/bin/Debug/net9.0
/api/BookLibraryApi/obj
/api/BookLibraryApi/.vs
